<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <div id="app">
    Package: <input v-model="name" v-on:keyup.enter="query" autofocus> </br>
    <div id="details" v-if="got_result">
      Ecosystem: {{ platform }}, Latest release: {{ lastet_release }}, Link: <a v-bind:href="package_manager_url">{{ package_manager_url }}</a>
    </div>
    <div id="error" v-if="got_error">
      Upps. Couldn't find a result.
    </div>
  </div>

</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      got_result: false,
      got_error: false,
      submit: "",
      platform: "",
      name: "",
      lastet_release: "",
      package_manager_url: ""
    },
    methods: {
      query: function () {
        that = this
        url = 'https://0m4mv2f1y8.execute-api.us-east-1.amazonaws.com/dev/component/npm/' + this.name
        console.log(url)
        fetch(url).then(response => {
          if (response.status == 200) {
            console.log("response ", response)
            response.json().then(function (json) {
              that.name = json.librariosio.name
              that.platform = json.librariosio.platform
              that.lastet_release = json.librariosio.latest_release_number
              that.package_manager_url = json.librariosio.package_manager_url
              that.got_result = true
              that.got_error = false
              console.log(json.librariosio)
            })
          } else { // 404
            that.got_result = false
            that.got_error = true
          }
        }, response => {
          that.got_result = false
          that.got_error = true
          console.log("error ", response)
        });
      }
    },
    mounted: function () {

    }
  })

</script>

</html>